.form-label {
    display: block;
    text-align: left;
    margin-bottom: 0;
    margin-top: 0;
}

.form-group {
    margin-bottom: 0;
    margin-top: 0;
    width: 50%;
}

.login-signup-btn {
    background-color:#3b5998;
    border-color:  #3b5998;
    color: white;
    margin-top: 15px;
}

.form-input {
    width: 100%;
    margin-bottom: 0;
    margin-top: 0;

}

.center-component {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  };

.form-input-btn {
    background-color: rgb(93, 120, 241);
}

.readonly {
    color: #555;
}

.bottom {
    position: absolute;
    right: 5px;
    bottom: 10px;
}

table, th, td {
    align-items: center;
    border: 1px solid black;
    border-collapse: collapse;
    padding: 2px 10px;
}
.tableDiv {
    overflow-x: auto;
    margin: 3px 2px;
}
table {
    width: 100%;
    min-width: 820px;
}
th {
    background-color: #DDD;
}
#lastLine {
    background-color: #EEE;
    font-weight: bold;
    padding-left: 50px;
}
